@import url("./general.css");

/* ----- HEADER SECTION ------ */

#header-wave {
	margin-top: -3rem;
	z-index: -999;
}

.header__container {
	display: flex;
	align-items: center;
	gap: 30rem;
	padding-top: 10rem;
}

.header__title {
	display: flex;
	flex-direction: column;
}

.header__title h1 {
	font-size: 6rem;
}

.header__title h2 {
	font-size: 2rem;
	font-weight: var(--font-wg-lg);
}

.current-issue {
	font-size: 2.4rem;
	font-weight: var(--font-wg-xs);
}

#header-centerbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .8rem;
}

#header-centerbox nav {
	display: flex;
	gap: 2.6rem;
}

#logo img {
	background-color: var(--white);
	width: 20rem;
	border-radius: 10%;
}

/* ----- MAIN SECTION ----- */

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	margin-top: -3rem;
	gap: 6rem 4rem;
}

.main__parts h3 {
	font-size: 3rem;
	font-weight: var(--font-wg-lg);
	margin-bottom: 1.6rem;
	margin-right: 1rem;
}

.main__parts p {
	font-size: 1.6rem;
}

/* ----- FOOTER SECTION ----- */

#footer-wave {
	z-index: -999;
}

footer {
	margin-top: -5rem;
	gap: 20rem;
}

footer div {
	display: flex;
	flex-direction: column;
}

.footer__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
}

.footer__info-title {
	font-size: 4rem;
	font-weight: var(--font-wg-lg);
}

.footer__info-subtitle {
	font-size: 2rem;
}

.footer__info-text {
	font-weight: var(--font-wg-xs);
}

.footer__columns {
	gap: 0.75rem;
}
