@import url("./general.css");

/* ----- HEADER SECTION ------ */

#header-wave {
	margin-top: -3rem;
	z-index: -999;
}

.header__container {
	display: flex;
	align-items: center;
	gap: 30rem;
	padding-top: 10rem;
}

.header__title {
	display: flex;
	flex-direction: column;
}

.header__title h1 {
	font-size: 6rem;
}

.header__title h2 {
	font-size: 2rem;
	font-weight: var(--font-wg-lg);
}

.current-issue {
	font-size: 2.4rem;
	font-weight: var(--font-wg-xs);
}

.header__container nav {
	display: flex;
	gap: 2.6rem;
}

#logo img {
	background-color: var(--white);
	width: 20rem;
	border-radius: 10%;
}

/* ----- MAIN SECTION ----- */

main {
	display: flex;
	margin-top: -3rem;
	gap: 6rem 4rem;
}

.main__boxes {
	display: flex;
	gap: 2rem;
	align-items: center;
	padding: 0.4rem;
	padding-right: 1.4rem;
	margin-bottom: 2rem;
	border-radius: 8px;
	background-color: var(--ash-gray);
	transition: background-color 0.2s;
}

.main__boxes:hover {
	background-color: var(--ash-gray-400);
}

.main__boxes img {
	width: 10%;
	height: auto;
	border-radius: 10px;
}

.main__boxes-text {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.main__boxes h3 {
	font-size: 2rem;
	font-weight: var(--font-wg-lg);
}

.main__boxes p {
	font-size: 1.8rem;
	font-weight: var(--font-wg-sm);
}

article {
	width: 65%;
}

aside {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	width: 35%;
	background-color: var(--tiffany-blue-300);
	color: var(--white);
	list-style: none;
	height: min-content;
	padding: 2rem 3rem;
	border-radius: 12px;
	font-weight: var(--font-wg-md);
	font-size: 1.6rem;
}

aside a {
	color: var(--white) !important;
	width: fit-content;
}

/* ----- FOOTER SECTION ----- */

#footer-wave {
	z-index: -999;
}

footer {
	margin-top: -5rem;
	gap: 20rem;
}

footer div {
	display: flex;
	flex-direction: column;
}

.footer__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
}

.footer__info-title {
	font-size: 4rem;
	font-weight: var(--font-wg-lg);
}

.footer__info-subtitle {
	font-size: 2rem;
}

.footer__info-text {
	font-weight: var(--font-wg-xs);
}

.footer__columns {
	gap: 0.75rem;
}
